<% if current_user %>

<% else %>
  <div>Your Twitter timeline is a chronological stack of tweets from everyone you follow. When you follow lots of interesting, diverse people on Twitter, it's a great way to stay informed.<br>
  Unfortunately, reading your timeline doesn't give you a good sense of the value any single account is providing. Twitter is felt in aggregate, the experience crafted by many people at once.<br>
  When you sign into <strong>betterfeed</strong> with Twitter, you'll be able to assess accounts individually. View their tweets, determine if they're meaningful to you, and then remove them if they're filling up your timeline with junk.</div>
<% end %>

