<div class="base-container"><div class="inner-container"><h1>About Betterfeed</h1></div></div>
<div class="base-container"><div class="inner-container"><p><strong>Betterfeed</strong> is a collection of tools to help make your online experience more entertaining, edifying, and uplifting.</p>
<p><strong>Betterfeed</strong> comes from two sources of inspiration: Chicago's strong civic hacking community, and my everyday frustration with popular technology. Let me explain:</p>
<ol>
  <li><strong>Civic Hacking:</strong> Civic hacking is the process of building tools to make government more efficient. Governments will often make their vast data holds available to developers, enabling them to build these tools.</li>
  <li><strong>Popular technology:</strong> The reality is, more people check Facebook than ride public transit. Companies in the private sector are responsible for ubiquitous, essential services. If platforms like Facebook, Twitter, and Google become entirely responsible for our access to information, we should engage in the same level of activism traditionally reserved for public sphere conversations.</li>
</ol>
<p>The Internet is, without question, the most powerful technology available to those who have access. And for most people, the Internet is mediated entirely through major social networks, like Facebook and Twitter.</p>
<p>Some have argued that, because these networks play such an integral role in daily life, they should be public goods. Until that time, I want to build tools that improve the experience of these platforms.</p></div></div>

<div class="base-container"><div class="inner-container"><h2>About TweetJudge</h2></div></div>
<div class="base-container"><div class="inner-container"><p>The Internet is a great place to have opinions, and many websites encourage you to develop and share them with others.</p>
<p>Having opinions is super important! Unfortunately, their ability to be shared isn't what makes them valuable to you, and most websites don't get that.</p></div></div>

<div class="base-container"><div class="inner-container"><h2>About Me</h2></div></div>
<div class="base-container"><div class="inner-container"><p>This site was built by me, DJ DeWitt. I'm a junior web developer based in Chicago, currently looking for freelance or full-time employment opportunities.</p></div></div>